In [2]:
import pandas as pd
import numpy as np

In [21]:
def dataframe_types(dataframe, file_name):
    res = dataframe.dtypes.to_frame('dtypes').reset_index()
    res.to_csv(f"{file_name}_dtypes_info.csv")

In [3]:
codcidade = np.arange(1, 13)
codcidade = np.append(codcidade, [29])

In [4]:
cidade = ['Rio de Janeiro', 'São Paulo', 'Rio Grande do Sul', 'Espirito Santo', 'Goiás',
          'Distrito Federal', 'Bahia', 'Rio Grande do Norte', 'Sergipe', 'Minas Gerais',
          'Paraná', 'Santa Catarina', 'Pará']
uf = ['RJ', 'SP', 'RS', 'ES', 'GO', 'DF', 'BH', 'RN', 'SE', 'MG', 'PR', 'SC', 'PA']

In [5]:
codcidade

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 29])

In [6]:
df_cidade = pd.DataFrame({'codcidade': codcidade,
                          'cidade': cidade,
                          'uf': uf})
df_cidade

    codcidade               cidade  uf
0           1       Rio de Janeiro  RJ
1           2            São Paulo  SP
2           3    Rio Grande do Sul  RS
3           4       Espirito Santo  ES
4           5                Goiás  GO
5           6     Distrito Federal  DF
6           7                Bahia  BH
7           8  Rio Grande do Norte  RN
8           9              Sergipe  SE
9          10         Minas Gerais  MG
10         11               Paraná  PR
11         12       Santa Catarina  SC
12         29                 Pará  PA

In [7]:
df_cidade.dtypes

codcidade     int32
cidade       object
uf           object
dtype: object

In [28]:
df_cidade.to_csv('saida_tabela_2_csv.csv')

In [22]:
dataframe_types(df_cidade, "saida_tabela_2_csv")

##### Gerando uma tabela ligeiramente diferente

In [15]:
df_cidade_2 = pd.DataFrame({'Cod Cidade': codcidade,
                          'cidade': cidade,
                          'UF': uf})
df_cidade_2

    Cod Cidade               cidade  UF
0            1       Rio de Janeiro  RJ
1            2            São Paulo  SP
2            3    Rio Grande do Sul  RS
3            4       Espirito Santo  ES
4            5                Goiás  GO
5            6     Distrito Federal  DF
6            7                Bahia  BH
7            8  Rio Grande do Norte  RN
8            9              Sergipe  SE
9           10         Minas Gerais  MG
10          11               Paraná  PR
11          12       Santa Catarina  SC
12          29                 Pará  PA

In [30]:
df_cidade_2.to_csv('saida_tabela_3_csv.csv')

In [23]:
dataframe_types(df_cidade_2, "saida_tabela_3_csv")

In [17]:
cidade.sort()

##### Esta outra tabela terá os mesmos dados em ordem diferente e alguns dados inseridos de forma incorreta

In [18]:
uf_2 = ['BH', 'DF', 'ES', 'GO', 'MG', 'PA', 'PR', 'RJ', 'RN', 'RS', 'SC', 'SE', 'SP']

In [19]:
df_cidade_3 = pd.DataFrame({'Cod Cidade': codcidade,
                          'cidade': cidade,
                          'UF': uf_2})
df_cidade_3

    Cod Cidade               cidade  UF
0            1                Bahia  BH
1            2     Distrito Federal  DF
2            3       Espirito Santo  ES
3            4                Goiás  GO
4            5         Minas Gerais  MG
5            6               Paraná  PA
6            7                 Pará  PR
7            8  Rio Grande do Norte  RJ
8            9    Rio Grande do Sul  RN
9           10       Rio de Janeiro  RS
10          11       Santa Catarina  SC
11          12              Sergipe  SE
12          29            São Paulo  SP

In [61]:
df_cidade_3.to_csv('saida_tabela_4.csv.csv')

In [24]:
dataframe_types(df_cidade_3, "saida_tabela_4_csv")

##### Esta próxima tabela tem uma quantidade diferente de colunas.

In [25]:
cidade = ['Rio de Janeiro', 'São Paulo', 'Rio Grande do Sul', 'Espirito Santo', 'Goiás',
          'Distrito Federal', 'Bahia', 'Rio Grande do Norte', 'Sergipe', 'Minas Gerais',
          'Paraná', 'Santa Catarina', 'Pará']

In [26]:
df_cidade_4 = pd.DataFrame({'codcidade': codcidade,
                          'cidade': cidade})
df_cidade_4

    codcidade               cidade
0           1       Rio de Janeiro
1           2            São Paulo
2           3    Rio Grande do Sul
3           4       Espirito Santo
4           5                Goiás
5           6     Distrito Federal
6           7                Bahia
7           8  Rio Grande do Norte
8           9              Sergipe
9          10         Minas Gerais
10         11               Paraná
11         12       Santa Catarina
12         29                 Pará

In [5]:
df_cidade_4.to_csv("saida_tabela_5_csv.csv")

In [27]:
dataframe_types(df_cidade_4, "saida_tabela_5_csv")

In [28]:
list(df_cidade_4.columns)

['codcidade', 'cidade']

##### Esta próxima tabela tem as mesmas colunas, porém em ordem diferente

In [29]:
df_cidade_5 = pd.DataFrame({'codcidade': codcidade,
                            'uf': uf,
                          'cidade': cidade})
df_cidade_5

    codcidade  uf               cidade
0           1  RJ       Rio de Janeiro
1           2  SP            São Paulo
2           3  RS    Rio Grande do Sul
3           4  ES       Espirito Santo
4           5  GO                Goiás
5           6  DF     Distrito Federal
6           7  BH                Bahia
7           8  RN  Rio Grande do Norte
8           9  SE              Sergipe
9          10  MG         Minas Gerais
10         11  PR               Paraná
11         12  SC       Santa Catarina
12         29  PA                 Pará

In [16]:
df_cidade_5.to_csv("saida_tabela_6_csv.csv")

In [30]:
dataframe_types(df_cidade_5, "saida_tabela_6_csv")

In [31]:
list(df_cidade_5.iloc[0])

[1, 'RJ', 'Rio de Janeiro']

In [32]:
conjunto_linhas_arquivo_original = set()
conjunto_linhas_arquivo_convertido = set()

for index, row in df_cidade_5.iterrows():
    conjunto_linhas_arquivo_original.add(tuple(df_cidade_2.iloc[index]))
    
for index, row in df_cidade_3.iterrows():
    conjunto_linhas_arquivo_convertido.add(tuple(df_cidade.iloc[index]))

In [33]:
conjunto_linhas_arquivo_original.difference(conjunto_linhas_arquivo_convertido)

set()

In [34]:
##### A próxima tabela é igual a Segunda tabela, porém com algumas linhas a menos

In [35]:
df_cidade_6 = df_cidade_2.drop([6,9])

In [36]:
df_cidade_6

    Cod Cidade               cidade  UF
0            1       Rio de Janeiro  RJ
1            2            São Paulo  SP
2            3    Rio Grande do Sul  RS
3            4       Espirito Santo  ES
4            5                Goiás  GO
5            6     Distrito Federal  DF
7            8  Rio Grande do Norte  RN
8            9              Sergipe  SE
10          11               Paraná  PR
11          12       Santa Catarina  SC
12          29                 Pará  PA

In [74]:
df_cidade_6.to_csv('saida_tabela_7.csv')

In [37]:
dataframe_types(df_cidade_6, "saida_tabela_7_csv")