In [76]:
import pandas as pd
from datetime import datetime

In [77]:
df_dateformat = pd.read_excel('Formato Datas.xlsx')

In [78]:
df_dateformat.head(61)

   FORMAT DATE SAS FORMAT DATETIME STRING DATETIME        Result
0           DATEw.                          %d%b%y     "17MAR00"
1           DATE9.                         %d%b%Ya  "17MAR2000a"
2            DAYw.                              %d          "17"
3         DDMMYYw.                        %d/%m/%Y  "17/03/2000"
4        DDMMYY10.                        %d/%m/%Y  "17/03/2000"
..             ...                             ...           ...
56         YYMMPw.                           %Y.%m     "2000.03"
57          YYMMS.                           %Y/%m     "2000/03"
58          YYMMN.                            %Y%m      "200003"
59        YYMMDDw.                        %y-%m-%d    "00-03-17"
60          YYMON.                            %Y%b     "2000MAR"

[61 rows x 3 columns]

In [79]:
# data para testar o resultado
dt_17032000 = datetime(2000,3,17,4,4,46)

In [80]:
results = []

for cada_formato_datestring in df_dateformat["FORMAT DATETIME STRING DATETIME"].values:
    try:
        dt_string = dt_17032000.strftime(cada_formato_datestring)
        results.append(f"'{dt_string}'")
    except ValueError:
        print(f"Formato inválido - {cada_formato_datestring}")

In [81]:
df_dateformat['Computed results'] = results

In [82]:
df_dateformat

,FORMAT DATE SAS,FORMAT DATETIME STRING DATETIME,Result,Computed results
0,DATEw.,%d%b%y,"""17MAR00""",'17Mar00'
1,DATE9.,%d%b%Ya,"""17MAR2000a""",'17Mar2000a'
2,DAYw.,%d,"""17""",'17'
3,DDMMYYw.,%d/%m/%Y,"""17/03/2000""",'17/03/2000'
4,DDMMYY10.,%d/%m/%Y,"""17/03/2000""",'17/03/2000'
...,...,...,...,...
56,YYMMPw.,%Y.%m,"""2000.03""",'2000.03'
57,YYMMS.,%Y/%m,"""2000/03""",'2000/03'
58,YYMMN.,%Y%m,"""200003""",'200003'
59,YYMMDDw.,%y-%m-%d,"""00-03-17""",'00-03-17'
60,YYMON.,%Y%b,"""2000MAR""",'2000Mar'

#### CASO 1 - Formato de data do Sas tem que ser exatamente a mesma do Databricks
##### Se no SAS está DDMMYYYY, no relatório do databricks tem que estar DDMMYYYY

In [121]:
texto_sas = "27MAR2014"
formato_sas = "DDMMYYN10"
texto_databricks = "2014-03-27"

In [122]:
# Achar o formato de data em SAS equivalente em Datetime String
formato_equiv_databricks = df_dateformat.loc[df_dateformat["FORMAT DATE SAS"] == formato_sas, "FORMAT DATETIME STRING DATETIME"].values[0]
formato_equiv_databricks

'%d%b%Y'

In [123]:
# Desse formato, devo criar um objeto Datetime a partir da informação desse valor do relatório em SAS
dt = datetime.strptime(texto_sas, formato_equiv_databricks)
dt

datetime.datetime(2014, 3, 27, 0, 0)

In [124]:
try:
    dt_2 = datetime.strptime(texto_databricks, formato_equiv_databricks)
    if dt == dt_2:
        print("As datas estão exatamente no mesmo formato")
        print("Teste aprovado")
except ValueError:
    print("Formato da data no relatório do Databricks não é o mesmo formato de data do relatório do SAS")
    print("Teste Reprovado")

Formato da data no relatório do Databricks não é o mesmo formato de data do relatório do SAS
Teste Reprovado

#### CASO 2 - As datas devem estar no formato padrão do Databricks (YYYY-MM-DD)

In [ ]:
try:
    dt_2 = datetime.strptime(texto_databricks, "%Y-%m-%d")
    if dt == dt_2:
        print("As datas estão iguais, apesar do formato diferente")
        print("Teste aprovado")
except ValueError:
    print("As datas não são iguais")
    print("Teste Reprovado")